.navbar-default {
    background-image: none;
    border: none;
    border-radius: 0;
  }
  
  .navbar-default .navbar-brand {
    /* float: left !important; */
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    color: white;
    line-height: 77%;
  }

  .navbar-nav {
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }

  .navbar-default .navbar-nav>li>a {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 150%;
    line-height: 150%;
  }
